<div class="ps-title-bar">
    <div class="row">
        <div class="ps-logo-area col-sm-6">
            <div class="ps-title-area">
                <p class="ps-logo-title">{{ title }}</p>
                <p class="ps-logo-subtitle">{{ subtitle }}</p>
            </div>
        </div>
    </div>
</div>
<!--<div class="row">
    <div class="ps-right-side-controls col-sm-12">
        <div>
            <button class="btn btn-success" ng-click="confirmSubmit()">Submit for Approval</button>
            <button class="btn btn-primary" ng-click="addAllHours()">Add Up Hours</button>
            <button class="btn btn-danger" ng-click="confirmDelete()">Delete All Times</button>
            <button class="btn btn-info glyphicon glyphicon-cog" ng-click="showOptions()"></button>
        </div>
    </div>
</div>-->

